<h1>About</h1>
<p>23/1/2012: Started work, created skeleton of the category.</p>
<p>25/1/2012: Worked on view pages, finished Category, and started on Sub-categories.</p>
<p>30/1/2012: Worked to make working RSpec tests for Sub-category</p>