<h1>Help</h1>
<p>To view products by category/subcategory, follow the 
 <%= link_to "Categories", categories_path %> link in the header and footer.</p>
<p>To view a product index, follow the <%= link_to "Products", products_path %> link.</p>
<p>To create new Categories, Sub-categories, or Products, visit the 
  <%= link_to "New", new_path %> link.</p>
