<% @current_cart ||= current_cart %>
<section class='round'>
  <div class="cart_count"><%= pluralize @current_cart.total_items_in_cart, 
    'item' %> in the cart</div><br />
  <div class="cart_cost">Current cost (-tax): $<%= @current_cart.total_price %>
  </div><br />
  <%= link_to "View your cart", '/cart' %>
</section>
