<h1>New product</h1>

<%= render 'form' %>

<%= link_to 'Add new category', new_category_path %><br />
<%= link_to 'Add new sub-category', new_sub_category_path %><br />
<%= link_to 'Back', products_path %>
