<tr>
  <td><%= line_item.product.name %></td>
  <td><%= number_to_currency(line_item.unit_price) %></td>
  <td><%= line_item.quantity %></td>
  <td><%= number_to_currency(line_item.full_price) %></td>
</tr>